:root {
  --chat-box-text-color: #7a7f9a;
  --bg-color-light-default: #f5f7fb;
  --bg-color-of-light: #e6ebf5;
  --text-color-ofblack: #343a40;
  --mess-border-color: #343a4052;
  --mess-sender-color: #6a9df7;
  --mess-receiver-color: #58687e;

}

::-moz-selection {
  color: white;
  background: #355c82d8;
}

::selection {
  color: white;
  background: #355c82d8;
}

html {
  height: 100%;
}

body {
  background-color: var(--bg-color-light-default);
  height: 100%;
}

p {
  color: var(--text-color-ofblack);
}

span {
  color: var(--chat-box-text-color);
}

.border-danger {
  border-color: var(--bs-form-invalid-color);
}

.bg-white {
  background-color: var(--bg-color-of-light) !important;
}

.justify-normal {
  justify-content: normal;
}

.h-full {
  height: 100%;
}

.h-vh {
  height: 91dvh;
}

.mouse-pointer {
  cursor: pointer;
}

.mouse-pointer-hover:hover {
  background-color: #e6ebf5;
}

.chat-circle-img {
  display: inline-block;
  width: 2.75rem;
  /* 44px */
  height: 2.75rem;
  /* 44px */
}

.chat-circle-img img {
  clip-path: circle();
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.chat-circle-img .status::after {
  content: "";
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 50%;
}

.avatar-title {
  margin-left: 20px;
  margin-top: auto;
  line-height: 0.5;
  margin-bottom: auto;
  text-align: left;
}

.avatar-title p {
  font-size: 1.125rem;
  /* 18px */
  text-transform: capitalize;
  font-weight: 600;
}

.chat-box {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.start-chat {
  margin-top: auto;
  margin-bottom: auto;
}

.start-chat p {
  font-size: 30px;
  line-height: 2;
  color: var(--chat-box-text-color);
}

.start-chat-sign {
  display: flex;
  justify-content: center;
}

.start-chat-sign::before {
  content: "+";
  border: 5px dotted var(--chat-box-text-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  color: var(--chat-box-text-color);
}

.message-box {
  height: 100%;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mess-footer {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
}

.message-input {
  width: 100%;
  border-radius: .4rem;
  font-size: .875rem;
  min-height: calc(1.5em + 1rem + 6px);
  padding: .5rem 1rem;
  border: 1px solid var(--bg-color-of-light);
  color: var(--text-color-ofblack);
  background-color: var(--bg-color-of-light) !important;
  appearance: none;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-weight: 400;
  line-height: 1.5;
  transition: 0.5s;
}

.message-input:focus-visible {
  border: 1px solid var(--mess-border-color);
  outline: none;
}

.mess-sender {
  width: max-content;
  max-width: 40%;
}

.mess-receiver {
  width: max-content;
  max-width: 40%;
  display: flex;
  justify-content: flex-end;
  float: right;
}

.mess-receiver .sender-img {
  height: 1.7rem;
  width: 1.7rem;
}

.mess-sender .sender-img {
  height: 1.7rem;
  width: 1.7rem;
}

.mess-sender .mess-card {
  text-align: left;
  border: none;
  background-color: var(--mess-receiver-color);
}

.time-stamp {
  text-align: right;
  display: block;
}

.mess-receiver .mess-card {
  text-align: right;
  border: none;
  background-color: var(--mess-sender-color);
  width: max-content;
  float: right;
}

.message-item {
  overflow-y: scroll;
  margin-top: auto;
  margin-bottom: 0;
  overflow: auto;
  /* Enable scrolling */
  scroll-snap-type: y mandatory;
  /* Enable y-axis scrolling and snap to points */
  scroll-snap-align: end;
  /* Start the scrollbar at the bottom */
}

.message-item tr {
  display: flow-root;
}

.tr {
  clear: both;
}

/* login section */
.logo-box {
  transition: 0.5s;
  margin-top: 100px;
  user-select: none;
}


.logo-box h3 {
  color: #355b82;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo-box p {
  font-size: 30px;
  color: #355c824f;
}

.login-form {
  border: 1px solid #355c824f;
  transition: 0.5s;
  background-color: white;
  margin-top: 90px;
  cursor: text;
}

.login-form:hover {
  border-color: #a5d2ff;
  box-shadow: 0 0 50px -29px #66b2ff;
}

.login-form .form-title {
  font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  color: #355b82;
}

.login-form input {
  cursor: pointer;
}

.login-form input[type='text'],
input[type='password'] {
  padding: 10px;
  padding-left: 30px;
  color: #343a40;
  border-color: #355b8245;
}

.login-form input {
  transition: 0.5s;
}

.login-form input:focus {
  border-color: #355b82 !important;
  box-shadow: 0 0 34px .25rem #7698ff3a !important;
  transform: scale(1.02);
}

.login-form .form-check {
  margin: auto;
  margin-left: 15px;
}

.login-form #rmm {
  border-color: #58687e9c;
}

.login-form input::placeholder {
  opacity: 1;
  color: #a5aac2;
}

.login-form button[type="submit"] {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  font-size: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border-color: #355b82;
  border-width: 1px;
  border-style: solid;
  color: #355b82;
  font-weight: 600;
  transition: 0.5s;
}

.forget-pwd {
  text-align: center;
  text-decoration: none;
  color: #355b82b2;
  display: flex;
  justify-content: center;
  font-weight: 600;
  transition: 0.5s;
}

.forget-pwd:hover {
  text-decoration: underline 2px dotted #355b82;
  color: #355b82;
}

.login-form button[type="submit"]:hover {
  background: #355b82;
  color: white;
  transform: scale(1.1);
}