:root {
  --chat-box-text-color: #7a7f9a;
  --bg-color-light-default: #f5f7fb;
  --bg-color-of-light: #e6ebf5;
  --text-color-ofblack: #343a40;
  --mess-border-color: #343a4052;
  --mess-sender-color: #6a9df7;
  --mess-receiver-color: #58687e;
}

html {
  height: 100%;
}

body {
  background-color: var(--bg-color-light-default);
  height: 100%;
}

p {
  color: var(--text-color-ofblack);
}

span {
  color: var(--chat-box-text-color);
}

.bg-white {
  background-color: var(--bg-color-of-light) !important;
}

.justify-normal {
  justify-content: normal;
}

.h-full {
  height: 100%;
}

.h-vh {
  height: 91dvh;
}

.mouse-pointer {
  cursor: pointer;
}

.mouse-pointer-hover:hover {
  background-color: #e6ebf5;
}

.chat-circle-img {
  display: inline-block;
  width: 2.75rem;
  /* 44px */
  height: 2.75rem;
  /* 44px */
}

.chat-circle-img img {
  clip-path: circle();
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.chat-circle-img .status::after {
  content: "";
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 50%;
}

.avatar-title {
  margin-left: 20px;
  margin-top: auto;
  line-height: 0.5;
  margin-bottom: auto;
  text-align: left;
}

.avatar-title p {
  font-size: 1.125rem;
  /* 18px */
  text-transform: capitalize;
  font-weight: 600;
}

.chat-box {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.start-chat {
  margin-top: auto;
  margin-bottom: auto;
}

.start-chat p {
  font-size: 30px;
  line-height: 2;
  color: var(--chat-box-text-color);
}

.start-chat-sign {
  display: flex;
  justify-content: center;
}

.start-chat-sign::before {
  content: "+";
  border: 5px dotted var(--chat-box-text-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  color: var(--chat-box-text-color);
}

.message-box {
  height: 100%;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mess-footer {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
}

.message-input {
  width: 100%;
  border-radius: .4rem;
  font-size: .875rem;
  min-height: calc(1.5em + 1rem + 6px);
  padding: .5rem 1rem;
  border: 1px solid var(--bg-color-of-light);
  color: var(--text-color-ofblack);
  background-color: var(--bg-color-of-light) !important;
  appearance: none;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-weight: 400;
  line-height: 1.5;
  transition: 0.5s;
}

.message-input:focus-visible {
  border: 1px solid var(--mess-border-color);
  outline: none;
}

.mess-sender {
  width: max-content;
  max-width: 40%;
}

.mess-receiver {
  width: max-content;
  max-width: 40%;
  display: flex;
  justify-content: flex-end;
  float: right;
}

.mess-receiver .sender-img {
  height: 1.7rem;
  width: 1.7rem;
}

.mess-sender .sender-img {
  height: 1.7rem;
  width: 1.7rem;
}

.mess-sender .mess-card {
  text-align: left;
  border: none;
  background-color: var(--mess-receiver-color);
}

.time-stamp {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.mess-receiver .mess-card {
  text-align: left;
  border: none;
  background-color: var(--mess-sender-color);
}

.message-item {
  overflow-y: scroll;
  margin-top: auto;
  margin-bottom: 0;
  overflow: auto;
  /* Enable scrolling */
  scroll-snap-type: y mandatory;
  /* Enable y-axis scrolling and snap to points */
  scroll-snap-align: end;
  /* Start the scrollbar at the bottom */
}

.message-item tr {
  display: flow-root;
}

.tr {
  clear: both;
}